*, *:before, *:after, html {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Helvetica Now';
	font-style: normal;
	src: url('font/HelveticaNowText-Regular.eot');
	src: url('font/HelveticaNowText-Regular.eot?#iefix') format('embedded-opentype'),
	url('font/HelveticaNowText-Regular.woff2') format('woff2'),
	url('font/HelveticaNowText-Regular.woff') format('woff'),
	url('font/HelveticaNowText-Regular.ttf') format('truetype'),
	url('font/HelveticaNowText-Regular.svg#svgFontName') format('svg');
}
body {
	font-family: "Helvetica Now", "Helvetica Neue", Helvetica, sans-serif;
	background-color: white;
}
h1, h2, p, a {
	font-size: 17px;
	color: black;
}
.blog-page, .blog-page nav {
	background-color: floralwhite;
}
.blog-page h1, 
.blog-page h2, 
.blog-page p,
.blog-page div {
	color:  #4E342E
}
h1.title {
	visibility: hidden;
	padding: 0;
	margin: 0;
	font-size: 1px;
	position: absolute;
}
h2.description {
	font-size: 12px;
	font-weight: normal;
}
.link {
	padding-left: 22px;
}
.link.selected a {
	color: black;
	text-transform: italic;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
	color: black;
}
nav {
	width: 100%;
	padding: 0 20px;
	background-color: white;
}
.blog-page nav{
	padding: 0 26px;
}
nav a {
	color: blue ;
	text-decoration: none;
}
.blog-page a {
	color: orange ;
	text-decoration: none;
}
.blog-page a:hover {
	color: orange ;
	text-decoration: underline;
}
nav p, nav a, nav h2 {
	font-size: 12px;
	font-weight: normal;
}
nav pre {
	line-height: normal;
	padding-left: 0;
	font-size: 13px;
	text-align: left;
}
.blog-page nav pre {
	font-size: 12px;
}
nav h2 {
	padding-left: 2px;
	line-height: 30px;
}
pre {
	font-family: courier, monospace;
	font-size: 11px;
	padding-left: 20px;
}
ul > li {
	list-style: none;
}
ul#titles > li > a {
	text-decoration: none;
}
ul#texts > li {
	padding: 20px 26px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: none;
}
ul#texts a {
	color: blue;
	text-decoration: none;
}
ul#texts a:hover {
	color: black;
	text-decoration: underline;
}
ul#texts > li#givenchy-3d {
	border-top: 0;
}
ul#texts > li#givenchy-redesign {
	margin-top: 39px;
}
ul#texts > li#givenchy-nft {
	margin-top: 79px;
}
ul#texts > li#redesign {
	margin-top: 119px;
}
ul#texts > li#look_and_feel {
	margin-top: 159px;
}
ul#texts > li#old_redesign {
	margin-top: 199px;
}
ul#texts > li#netaporter {
	margin-top: 239px;
}
ul#texts > li#first_website {
	margin-top: 279px;
}
ul#texts > li#about {
	margin-top: 319px;
}
ul#texts > li#contact {
	margin-top: 359px;
}
ul#texts > li#blog {
	border-top: 0;
}
ul#texts > li > p {
	margin-bottom: 12px;
}
ul#texts > li > p:last-child {
	margin-bottom: 0;
}
ul#imagesDesktop > ul > p {
	margin: -17px 15px;
}
.single_page_checkout video {
	width: 100%;
	max-width: 260px;
}
#blog, #blog p, .blog p, .blog {
	font-size: 12px;
}
.blog {
	overflow:  auto;
	height:  auto;
}

.blog-page, .blog-page a, .blog-page p, .blog-page h2, .blog-page li {
	font-size: 16px;
}
.blog-page li {
	padding-left: 26px;
}
.blog-page nav {
	border: 0;
}
.blog-page nav a, .blog-page nav p, .blog-page nav h2 {
	font-size:  12px;
	line-height: 1.5;
}
.blog-page ul#imagesDesktop {
	border: 0;
}
.caps {
	text-transform: uppercase;
}
@media all and ( min-width: 0px ) and ( max-width: 1057px ) {
	nav {
		margin: 1px 0;
		padding: 0 10px;
	}
	nav p, nav a {
		font-size: 11px;
	}
	nav pre {
		font-size: 10px;
	}
	p, a {
		font-size: 14px;
	}
	ul#titles {
		width: 100%;
	}
	ul#texts {
		width: 100%;
	}
	#wrap > ul {
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 100%;
	}
	.blog-page #wrap > ul {
		overflow: visible;
	}
	ul#texts > li#givenchy-3d,
	ul#texts > li#givenchy-redesign,
	ul#texts > li#givenchy-nft,
	ul#texts > li#redesign,
	ul#texts > li#single_page_checkout,
	ul#texts > li#look_and_feel,
	ul#texts > li#old_redesign,
	ul#texts > li#netaporter,
	ul#texts > li#first_website,
	ul#texts > li#about,
	ul#texts > li#contact,
	ul#texts > li#blog {
		margin-top: 18px;
	}
	ul#texts > li {
		padding: 20px 22px;
	}
	ul#titles > li {
		line-height: 30px;
		padding-left: 22px;
		border-top: 1px solid black;
		cursor: pointer;
	}
	ul#titles > li:last-child {
		border-bottom: 1px solid black;
	}
	ul#texts > li {
		padding-top: 0;
		border: 0;
	}
	ul#imagesDesktop {
		width: 100%;
	}
	ul#imagesMobile > ul {
		padding: 20px calc(22px - 2.5%);
		display: none;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	ul#imagesMobile > ul > img.hidden,ul#imagesMobile > ul > video.hidden {
		display: inline-block;
	}
	img, video {
		width: 100%;
		margin: 0 2.5% 5% 2.5%;
		padding: 0;
		border: 1px solid black;
	}
	.blog-page img, .blog-page video {
		width: 100%;
		margin: 0 2.5% 5% 2.5%;
		padding: 0;
		border: 1px solid black;
		border-radius: 11px;
	}
	#imagesDesktop ul {
		width: 95%;
	}
	#imagesDesktop ul.about {
		width: 100%;
	}
	pre {
		font-size: 9px;
		text-align: center;
		padding-left: 0;
	}
	ul#imagesDesktop > ul > p {
		margin: 20px 26px;
	}
}
@media all and ( min-width: 375px ) and ( max-width: 850px ) {
	nav p, nav a {
		font-size: 11px;
	}
}
@media all and ( min-width: 322px ) and ( max-width: 374px ) {
	nav p, nav a {
		font-size: 11px;
		line-height: 1.7;
		padding: 5px 0 5px 2px;
	}
}
@media all and ( min-width: 0px ) and ( max-width: 321px ) {
	nav p, nav a {
		font-size: 11px;
		line-height: 1.7;
		padding: 3px 2px 4px 2px;
	}
	nav pre {
		font-size: 9px;
	}
	nav {
		margin: 0;
	}
}
@media all and ( min-width: 1058px ) {
	nav {
		line-height: 50px;
		border-bottom: 1px solid black;
		background-color: cantaloupe;
		color: black;
	}
	.blog-page nav {
		color: #4E342E;
	}
	ul#titles {
		width: 400px;
	}
	ul#texts {
		width: 400px;
	}
	#wrap > ul {
		height: calc( 100vh - 51px );
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		float: left;
		overflow: hidden;
	}
	.blog-page #wrap > ul {
		overflow: visible;
	}
	ul#titles > li {
		line-height: 37px;
		padding-top: 1px;
		padding-left: 22px;
		border-bottom: 1px solid black;
		cursor: pointer;
	}
	ul#texts {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	.blog-page #imagesDesktop {
		border-left: 1px solid #4E342E;
		border-right: 1px solid #4E342E;
	}
	ul#imagesDesktop {
		width: calc( 100% - 800px );
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.blog-page ul#imagesDesktop {
		width: calc( 100% - 500px );
		max-width:  800px;
	}
	.blog-page ul#imagesDesktop > ul > p {
		margin: 0;
	}
	ul#imagesDesktop > ul {
		padding: 40px 22px;
		border-top: 1px solid black;
	}
	ul#imagesDesktop > ul > img.hidden,ul#imagesDesktop > ul > video.hidden {
		display: inline-block;
	}
	img, video {
		width: 95%;
		margin: 0 2.5% 5% 2.5%;
		padding: 0;
		border: 1px solid black;
		cursor: pointer;
		float: left;
	}
	.blog-page img, .blog-page video {
		width: 85%;
		margin: 0;
		padding: 0;
		border: 1px solid #4E342E;
		cursor: pointer;
		float: none;
		border-radius: 11px;
	}
	.blog-page .screen {
		width: 45%;
		margin: 10px;
		padding: 0;
		border: 1px solid #4E342E;
		cursor: pointer;
		float: left;
	}
	.blog-page .landscape {
		width: 85%;
		margin: 0;
		padding: 0;
		border: 1px solid #4E342E;
		cursor: pointer;
		float: none;
	}
	ul#imagesDesktop > ul.givenchy-3d {
		border-top: 0;
	}
	ul#imagesDesktop > ul.givenchy-redesign {
		margin-top: 39px;
	}
	ul#imagesDesktop > ul.givenchy-nft {
		margin-top: 79px;
	}
	ul#imagesDesktop > ul.redesign {
		margin-top: 119px;
	}
	ul#imagesDesktop > ul.look_and_feel {
		margin-top: 159px;
	}
	ul#imagesDesktop > ul.old_redesign {
		margin-top: 199px;
	}
	ul#imagesDesktop > ul.netaporter {
		margin-top: 239px;
	}
	ul#imagesDesktop > ul.first_website {
		margin-top: 279px;
	}
	ul#imagesDesktop > ul.about {
		margin-top: 319px;
	}
	ul#imagesDesktop > ul.blog {
		border-top: 0;
	}
}
/* flower styling */
.flower {
  animation-duration: 12s; /* Adjust the overall shake speed */
}

.flower .inner {
  animation-duration: 60s; /* Slower falling animation */
}

@keyframes flowers-shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(40px); /* Smaller shake distance */
  }
  50% {
    transform: translateX(-30px); /* Add variation in direction */
  }
  75% {
    transform: translateX(20px); /* More subtle shake */
  }
}

.flower {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
  animation-name: flowers-shake;
  animation-duration: 60s;
  animation-timing-function: ease-in-out
}
@keyframes flowers-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flowers-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110vh); /* Falling past the viewport */
    }
}

.flower .inner {
  animation: flowers-fall 40s linear infinite, flowers-rotate 20s linear infinite;
}

.flower:nth-of-type(1) { left: 5%; animation-delay: 2s; }
.flower:nth-of-type(2) { left: 15%; animation-delay: 14.5s; }
.flower:nth-of-type(3) { left: 25%; animation-delay: 9s; }
.flower:nth-of-type(4) { left: 35%; animation-delay: 6s; }
.flower:nth-of-type(5) { left: 45%; animation-delay: 8.5s; }
.flower:nth-of-type(6) { left: 55%; animation-delay: 5s; }
.flower:nth-of-type(7) { left: 65%; animation-delay: 7s; }
.flower:nth-of-type(8) { left: 75%; animation-delay: 9.5s; }
.flower:nth-of-type(9) { left: 85%; animation-delay: 20.5s; }
.flower:nth-of-type(10) { left: 95%; animation-delay: 14s; }