html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* flexbox stuff */
html, body {
	height: 100%;
}
body {
	overflow-x: hidden;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: Helvetica, Arial, sans-serif;

	font-weight: normal;
	font-style: normal;
} 
.flexbox {
	min-height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-item {
	-webkit-flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}
.some-area > div {
	padding: 1rem 0;
}

/* fonts */
body {
    font-family: Helvetica, Arial, sans-serif;
    text-align:center;
    line-height:1.6;
    font-size:1.5rem;
}
/* navigation */
ul.nav {
	list-style-type: none;
	padding: 20px;
	text-align: left;
	position: fixed;
	width: 100%;
	font-size: 1rem;
	top: 0;
	line-height: 1.8;
	z-index: 999;
}
ul.nav li {
	display: inline-block;
	padding: 0 1%;
}
ul.nav a::after {
	border-bottom:0;
}
ul.nav .active::after {
	content:'';
	position:absolute;
	width: 100%;
	height: 0;    
	left:0;
	bottom: 3px; 
	border-bottom: 2px solid black;
}
p {
	margin: 0 auto;
	width:50%;
}
h1 {
	font-size:14rem;
	font-weight: bold;
}
h2 {
	padding: 2.6rem 9rem;
	font-size: 140%;
	letter-spacing: 1px;
}
h3 {
	padding: 0 12rem;
}
img {
	max-width:800px;
	opacity:0.85;
}
a {
	color: black;
	text-decoration: none;
	position: relative;
}
a::after {
	content:'';
	position: absolute;
	width: 100%;
	height: 0;    
	left:0;
	bottom: 0; 
	border-bottom: 2px solid black;
}
a:hover {
	opacity: 0.4;
}

.about p {
	position: relative;
	top: -43px;
	left: 245px;
	font-size: 14px;
}
.about .flex-item {
	max-width: none;
	margin:0 auto;
}
.social img{
	opacity: 0.9;
}

/* photos */
.photos-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-flex-flow: row nowrap; 
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;

	-webkit-justify-content: flex-start;
	-webkit-box-pack: flex-start;
	-ms-flex-pack: flex-start;
	-moz-box-pack: flex-start;
	justify-content: flex-start;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 1.3em;
} 
.flex-photo {
	-webkit-box-flex: auto;
	-webkit-flex: auto;
	-ms-flex: auto;
	-moz-box-flex: auto;
	flex: auto;
	width: 14.31%;
	margin-right: -1px; 
}
.flex-photo img {
	width: 100%;
	height: auto;
}
.photos-wrapper a::after{
	border-bottom:0;
}
.photos-wrapper a:hover{
	opacity: 0.9;
}

/* form */
.flex-input-wrap {
	display: flex;
	width: 524px;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
}
.flex-input-1 {
	-webkit-flex: 1;
	flex: 1;
	margin-right: 3px;
}
.flex-input-2 {
	flex: 1;
	-webkit-flex: 1;
	margin-left: 3px;
}
input {
	background-color: transparent;
	border: 2px solid #000;
	padding: 6px 9px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 16px;
	line-height: 25px;
	border-radius: 5px;
	width: 255px;
	height: 45px;
}
textarea {
	display:block;
	width: 524px;
	height: 200px;
	margin: 8px auto;
	background-color: transparent;
	border: 2px solid #000;
	padding: 8px 10px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 16px;
	line-height: 25px;
	border-radius: 5px;
}
::-webkit-input-placeholder {
	color: black;
}
:-moz-placeholder {
	color: black;
}
::-moz-placeholder {
	color: black;
}
:-ms-input-placeholder {
	color: black;
}
button.submit-button {
	background-color: transparent;
	border: 2px solid #000;
	padding: 6px 9px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 16px;
	line-height: 25px;
	border-radius: 5px;
	height: 45px;
	margin-top: 5px;
	width: 195px;
	margin: 0 auto;
}
button.submit-button:hover, button.submit-button:focus {
	background-color: black;
	color: #ffa79f;
	cursor: pointer;
}
#form-messages {
	font-size: 60%;
	padding-top: 1em;
	color: white;
	font-style: italic;
}

/* animation */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes bounceInRight {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
			transform: translate3d(3000px, 0, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0);
	}
	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes bounceInRight {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0);
	}
	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}
.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
@media all and (min-width: 1025px) and (max-width: 1290px) {
	h3 {
		padding: 0 9rem;
	}
}
@media all and (min-width: 800px) and (max-width: 1024px) {
	h1 {
		font-size: 115px;
		line-height: 1.3;
	}
	.about p {
		font-size: 12px;
		top: -20px;
		left: 212px;
	}
	p {
		width: 79.6%;
	}
	h3 {
		font-size: 23px;
		padding: 0 6rem;
	}
}
/* ipad */
@media all and (min-width: 668px) and (max-width: 799px) {
	h1 {
		font-size: 85px;
		line-height: 1.3;
	}
	.about p {
		font-size: 9px;
		top: -13px;
		left: 155px;
	}
	p {
		width: 79.6%;
	}
	h3 {
		font-size: 23px;
		padding: 0 6rem;
	}
}
/* ipad portrait */
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	h1 {
		font-size: 100px;
	}
	.about p {
		font-size: 10px;
		top: -16px;
		left: 190px;
	}
}
/* iphone 5 */
@media all and (min-width: 319px) and (max-width: 667px){
	h1 {
		font-size: 75px;
		line-height: 1.1;
	}
	.about .flex-item {
		max-width: 500px;
	}
	.about p {
		font-size: 8px;
		top: -6px;
		left: 32px;
		width: 73%;
	}
	h2 {
		font-size: 100%;
		padding: 2rem 4rem;
	}
	h3 {
		padding: 0 1.3rem;
		font-size: 17px	}
	.flex-photo {
		width: 25.5%;
	}
	.email-form {
		width: 85%;
		margin:0 auto;
	}
	.flex-input-wrap, textarea {
		width: 100%;
	}
	.photos-wrapper {
		padding-top: 1rem;
	}
	.stalkme {
		padding-top:0.2rem;
		font-size:80%;
	}
	.photo-5, .photo-6, .photo-7 {
		display:none;
	}
	.flex-photo { 
		width: 25%;
	}
	input {
		width: 48.5%;
		margin:0;
	}
	.flex-input-1 {
		margin-right: 2px;
	}
	.flex-input-2 {
		margin-left: 2px;
	}
}
/* iphone 6 */
@media all and (min-width: 374px) and (max-width: 376px) {
	h1 {
		font-size: 87px;
		line-height: 1.1;
	}
	.about p {
		font-size: 9px;
		top: -2px;
		left: 37px;
		width: 70%;
	}
	h2 {
		font-size: 110%;
		padding: 2rem 4rem;
	}
	h3 {
		padding: 0 1.5rem;
		font-size: 82%;
	}
	.flex-photo {
		width: 25.5%;
	}
	.email-form {
		width: 80%;
		margin:0 auto;
	}
	.flex-input-wrap, textarea {
		width: 100%;
	}
	.stalkme {
		padding-top:0.2rem;
		font-size:80%;
	}
	.photo-5, .photo-6, .photo-7 {
		display:none;
	}
	.flex-photo { 
		width: 25%;
	}
	input {
		width: 48.5%;
		margin:0;
	}
	.flex-input-1, .flex-input-2 {
		margin: 0;
	}
}